[Unit]
Description=SuperRAID GCP test writer A
DefaultDependencies=no
After=app_param-mount.service
Requires=app_param-mount.service
Conflicts=shutdown.target

[Service]
Type=simple
Environment="LD_PRELOAD=/usr/local/lib/libcachemydata.so"
ExecStart=/usr/local/bin/app_param_test_loop /app_param sensor_center.bin
Restart=no
StandardOutput=journal
StandardError=journal
