[Unit]
Description=App parameter buffered writer
DefaultDependencies=no
After=app_param-mount.service
Requires=app_param-mount.service
Conflicts=shutdown.target

[Service]
Type=simple
Environment="LD_PRELOAD=/usr/hobot/lib/libcachemydata.so"
ExecStart=/usr/bin/app_param_test /app_param off
Restart=no
StandardOutput=journal
StandardError=journal
